name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-rtd-theme

      - name: Build documentation
        run: |
          sphinx-build -b html docs/source docs/build
          # create .nojekyll to prevent GitHub Pages ignoring _static etc.
          touch docs/build/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PAT_TOKEN_CIRCASSIANDNA }}
          publish_dir: docs/build
          # Optional: customize the commit message
          commit_message: "Deploy docs to GitHub Pages"
