name: Docs

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: make install
      - name: Install Sphinx
        run: pip install -r requirements-docs.txt
      - name: Build HTML docs
        run: sphinx-build -E -W -b html docs/source docs/build
